.footer {
    background-color: #0e0e0f;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #b6cadc;
    position:absolute;
    width: 97vw;
    
    /* z-index: 10; */
  }
  
  .footer-icons {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-icons a {
    color: #007bff;
    transition: transform 0.3s, color 0.3s;
  }
  
  .footer-icons a:hover {
    color: #0056b3;
    transform: scale(1.2);
  }
  
  .footer strong {
    color: #d2d5d8;
  }
  