.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0e0e0f;
    color: #84c3fa;
    position:static;
    width: 97vw;
    top: 0;
    /* z-index: 1000; */
  }
  
  .navbar-logo {
    margin-left: 25px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: 20px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  .hide{
    display: none;
  }
    