*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(0, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
    
}

   
h1{
    color: #E50914;
    font-size:50px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    height: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    text-shadow: 1px 2px #f4c8ca;
    
}
div{
    background-color:#78adc8;
    height: 250px;
    width: 250px;
    margin: 30px;
    margin-left: 70px;
    display: inline-block;
    padding: 30px;
    border: 2px solid rgb(232, 123, 15);
    border-radius: 20px;
   
    
}
h2{
    padding-bottom: 20px;
    text-align: center;
    
}
button{
    background-color: #952828;
    display: inline-block;
    padding:5px;
    margin-left: 50px;
    margin-top: 40px;
    
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
    height: 40px;
    color:white;
   

}
div:hover{
    background-color:#a5cee3 ;
    box-shadow: 0px 0 20px 0 rgb(196, 132, 132)
}
button:hover{
    background-color: #fe0808;
    height: 43px;
    width: 120px;
}
ul{
    list-style-type:circle;
    margin-left: 10px;
    line-height:150%;
}
a{
    text-decoration: none;
    color: white;
}
